<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>My workshops</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="container">

        <h1>Hello there <b th:text="${user.name}">kitty!</b>. Your workshops so far:</h1>
        <div th:each="workshop : ${myWorkshops}">
            <h3>Name: <b th:text="${workshop.name}" /></h3>
            <p>Room: <span th:text="${workshop.room}" /> </p>
            <p>Teacher: <span th:text="${workshop.teacher}" /> </p>
            <p>Number of slots open: <span th:text="${workshop.howManySlotsAreFree()}" /> / <span th:text="${workshop.getLimit()}" /></p>
            <form action="/unregister" method="post">
                <input type="hidden" name="workshopName" value="" th:attr="value=${workshop.name}"/>
                <input type="submit" value="Unregister"/>
            </form>
        </div>

        <h1>Other workshops you can still register to:</h1>
        <h2>Morning</h2>
        <div th:each="workshop : ${availableMorningWorkshops}">
            <h3>Name: <b th:text="${workshop.name}" /></h3>
            <p>Room: <span th:text="${workshop.room}" /> </p>
            <p>Teacher: <span th:text="${workshop.teacher}" /> </p>
            <p>Number of slots open: <span th:text="${workshop.howManySlotsAreFree()}" /> / <span th:text="${workshop.getLimit()}" /></p>
            <form action="/register" method="post">
                <input type="hidden" name="workshopName" value="" th:attr="value=${workshop.name}"/>
                <input type="submit" value="Register"/>
            </form>
        </div>

        <h2>Evening</h2>
        <div th:each="workshop : ${availableEveningWorkshops}">
            <h3>Name: <b th:text="${workshop.name}" /></h3>
            <p>Room: <span th:text="${workshop.room}" /> </p>
            <p>Teacher: <span th:text="${workshop.teacher}" /> </p>
            <p>Number of slots open: <span th:text="${workshop.howManySlotsAreFree()}" /> / <span th:text="${workshop.getLimit()}" /></p>

            <form action="/register" method="post">
                <input type="hidden" name="workshopName" value="" th:attr="value=${workshop.name}"/>
                <input type="submit" value="Register"/>
            </form>
        </div>
    </div>

    <script src="/assets/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>